@model IEnumerable<FurnitureStore.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryTitle)
        </th>
        <th></th>
    
 
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.categoryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.categoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.categoryId })
            </td>
        </tr>
    }

</table>
